* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ccc;
}

h1 {
    margin-top: 50px;
}

.post-container {
    max-width: 50%;
    margin: 50px auto;
    background-color: #ddd;
    box-shadow: 2px 2px 50px #aaa;
}

.post {
    border: dotted 1px black;
    padding: 40px 30px;
}

.post h3 {
    margin: 10px auto;
}

.post p {
    margin: 20px auto;
}

button {
    padding: 10px 15px;
    margin: 10px;
}

button:hover {
    background: #e3e3e3;
    cursor: pointer;
    border: solid 2px #eee;
}

.selected {
    background: steelblue;
    border: solid 2px #eee;
    color: #fff;
}
